#page {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-items: center;
}

html, body {
  font-family: "Lato", sans-serif;
  text-align: center;
  background-color: #111;
  color: #ddd;
  overflow: hidden;
}

h1, h2 {
  font-family: "Poiret One", cursive;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

p, ul {
  font-size: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: #c00;
  text-decoration: inherit;
}

.pageLink {
  border: none;
  color: #c00;
  background-color: #111;
  cursor: pointer;
  font: inherit;
}

.charm {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.frame {
  display: grid;
}

svg {
  display: block;
}

.navButton {
  background: none;
  border: none;
  display: block;
  cursor: pointer;
  padding: 0;
}

.buttonLabel {
  float: top;
  font-family: "Poiret One", cursive;
  font-weight: bold;
  font-size: 14pt;
  color: #ddd;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#bigLabel {
  font-size: 11pt;
}

#star {
  height: 69vh;
  width: 69vh;
  display: flex;
  align-items: center;
  justify-items: center;
  position: relative;
  margin: auto;
}

#navigation {
  position: absolute;
  width: 100%;
  height: 100%;
}

#starText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#charmR1 {
  position: absolute;
  left: 97.55%;
  top: 34.55%;
}

#charmR2 {
  position: absolute;
  left: 79.4%;
  top: 90.45%;
}

#charmL1 {
  position: absolute;
  left: 2.45%;
  top: 34.55%;
}

#charmL2 {
  position: absolute;
  left: 20.6%;
  top: 90.45%;
}

#charmT {
  position: absolute;
  left: 50%;
  top: 0;
}

#window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.framePiece {
  font-size: 0;
  display: block;
  margin: 0;
  padding: 0;
}

/* This is for the svg elements around the window: */
.windowLine {
  stroke: #ddd;
  fill: #fff;
  stroke-width: 0px;
}

.windowObjectV {
  height: 100%;
  width: 2px;
}

.windowObjectH {
  width: 100%;
}

#topLeftCorner {
  grid-column-start: 1;
  transform: scaleX(-1);
}

#topLeft {
  grid-column-start: 2;
}

#topCenter {
  grid-column-start: 3;
}
#topCenter #ornamentButton {
  background: none;
  border: none;
  padding: 0;
  display: block;
}

#topRight {
  grid-column-start: 4;
}

#topRightCorner {
  grid-column-start: 5;
  padding: 0;
}

#left {
  justify-self: end;
}

#center {
  grid-column-start: 2;
  grid-column-end: span 3;
  justify-self: center;
  align-self: center;
  padding: 1em;
}

#right {
  grid-column-start: 5;
  justify-self: start;
}

#bottomLeftCorner {
  transform: scale(-1, -1);
  justify-self: end;
  align-self: start;
}

#bottomLeft {
  align-self: start;
}

#bottom {
  align-self: start;
  transform: scale(1);
}

#bottomRight {
  align-self: start;
}

#bottomRightCorner {
  transform: scaleY(-1) translateX(0.5px);
  justify-self: start;
  align-self: start;
}

.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.glide * {
  box-sizing: inherit;
}
.glide__track {
  overflow: hidden;
}
.glide__slides {
  position: relative;
  width: 100%;
  list-style: none;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  touch-action: pan-Y;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  will-change: transform;
}
.glide__slides--dragging {
  user-select: none;
}
.glide__slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  white-space: normal;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}
.glide__slide a {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.glide__arrows {
  -webkit-touch-callout: none;
  user-select: none;
}
.glide__bullets {
  -webkit-touch-callout: none;
  user-select: none;
}
.glide--rtl {
  direction: rtl;
}

.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  padding: 9px 12px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  opacity: 1;
  cursor: pointer;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  transform: translateY(-50%);
  line-height: 1;
}
.glide__arrow:focus {
  outline: none;
}
.glide__arrow:hover {
  border-color: white;
}
.glide__arrow--left {
  left: 2em;
}
.glide__arrow--right {
  right: 2em;
}
.glide__arrow--disabled {
  opacity: 0.33;
}
.glide__bullets {
  position: absolute;
  z-index: 2;
  bottom: 2em;
  left: 50%;
  display: inline-flex;
  list-style: none;
  transform: translateX(-50%);
}
.glide__bullet {
  background-color: rgba(255, 255, 255, 0.5);
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  line-height: 0;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  margin: 0 0.25em;
}
.glide__bullet:focus {
  outline: none;
}
.glide__bullet:hover, .glide__bullet:focus {
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.5);
}
.glide__bullet--active {
  background-color: white;
}
.glide--swipeable {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.glide--dragging {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.glide {
  border-style: solid;
  border-width: 2px;
  border-color: #ddd;
  width: 50vw;
  padding: 16px;
}

.glide__slides img {
  display: block;
  width: 100%;
}

.glide__slide {
  width: 100%;
}

.dot {
  border-radius: 50%;
  background: #ddd;
  position: absolute;
}

/*# sourceMappingURL=index.css.map */
